<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>


    <h1>Main Page</h1>

<br>
<hr>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

            <div class="card-group" th:each="cat:${topCatsKey}">
                <!--карточка-->
                    <div class="card shadow" style="width: 18rem;">
                        <div class="card-header mt-2" th:text="${cat.catName}" style="background-color: bisque; font-weight: bold; border-radius:15px">
                        <small>
                            Featured
                        </small>
                        </div>
                     <a th:href="'/subcategory/' + ${cat.id}" >
                       <!--<img  th:src="'imagesUp/'+${cat.imageUrl}" height="150" width="150"/>-->
                       <img  th:src="'imagesUp/'+${cat.imageUrl}" class="card-img-top" alt="..."/>

                     </a>
                         <div class="card-body" >
                           <h4 class="lead text-muted" th:text="${cat.catName}" />
                           <p class="card-text" th:text="${cat.id}"/>
                         </div><!--Card Body-->
                         <div class="card-footer">

                             <div class="d-grid gap-2">
                                 <div class="btn-group">
                                     <a th:href="'/subcategory/' + ${cat.id}" class="btn btn-primary" type="button">Субкатегории</a>
                                 </div><!--Btn Group-->
                             </div>
                         </div><!--Card Footer-->
                    </div><!--CARD-->
            </div><!--Card Group TH:EACH-->
                </div><!--Row row-cols-1-->
            </div><!--Container-->
        </div><!--Album-->



</body>

</html>